* {
  margin: 0;
  padding: 0;
}
.navbar {
  border: 1px solid black;
  outline-color: black;
  outline-width: thick;
  border: none;
  background-color: lightgray;
  color: #61122f;
}
body {
  background-color: white;
  color: black;
}
.glyphicon {
  font-size: 30px;
  color: black;
}

.center {
  width: 90%;
  background-color: grey;
}
.container {
  background-color: grey;
}
.text-center {
  background-color: white;
  font-size: 30px;
}

h2 {
  text-align: center;
}
#myNavbar ul li a {
  color: black;
}
.navbar-brand {
  background-color: lightgrey;
  color: black;
  font-size: 30px;
}
